<section class="row" data-ng-controller="SettingsController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 sign-up-form">
		<form name="orgForm" data-ng-submit="submitOrg()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="orgname">Organization Name</label>
					<input type="text" id="orgname" name="orgname" class="form-control" data-ng-model="credentials.orgname" placeholder="Organization">
				</div>

<!-- 				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>

				<div class="form-group">
					<label for="password">Confirm Password</label>
					<input type="password" class="form-control" data-ng-model="password" placeholder="Retype Password">
				</div> -->

				<div class="text-center form-group">
					<button ng-disabled="orgname.length === 0" type="submit" class="btn btn-large btn-primary">Create</button>&nbsp; or&nbsp;
					<a href="/#!/settings/myOrg" class="go-back">Go back</a>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

</section>